{% extends "base.html" %} {% block title %}Add manufacturer{% endblock %} {% block content
%}
<form method="POST">
    <h3 align="center">Add New Software Manufacturer:</h3>
    <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter manufacturer name"
        />
  </div>
      <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Enter manufacturer's phone number"
          />
      <div class="form-group">
          <label for="email">Contact email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter manufacturer's email address"
          />
  </div>
<br />
<button type="submit" class="btn btn-primary">Register</button>
</form>
  {% endblock %}