{% extends "base.html" %} {% block title %}Add Owner{% endblock %} {% block content
%}
<form method="POST">
    <h3 align="center">Add New Software Owner:</h3>
      <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter owner's email address"
          />
      </div>
            <div class="form-group">
            <label for="first_name">First Name</label>
            <input
              type="text"
              class="form-control"
              id="first_name"
              name="first_name"
              placeholder="Enter owner's first name"
            />
      </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                placeholder="Enter owner's last name"
            />
      </div>
          <div class="form-group">
              <label for="phone_extension">Phone Extension</label>
              <input
                type="text"
                class="form-control"
                id="phone_extension"
                name="phone_extension"
                placeholder="Enter owner's phone extension"
              />
<br />
<button type="submit" class="btn btn-primary">Register</button>
</form>
  {% endblock %}