{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<table class="table-striped">
  <caption>List of software</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Version</th>
      <th scope="col">Expiry Date</th>
      <th scope="col">Publisher</th>
      <th scope="col">Owner</th>
    </tr>
  </thead>
  <tbody>
    {% for software in software %}
    <tr>
      <td>{{software.name}} </td>
      <td>{{software.version}} </td>
      <td>{{software.expiry_date}} </td>
      <td>{{software.publisher.name}} </td>
      <td>{{software.owner.first_name}} {{software.owner.last_name}}</td>
      <td>
        <a href="/edit/{{software.id}}" class="btn btn-primary">Edit</a>
        <a href="/delete/{{software.id}}" class="btn btn-danger">Delete</a>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
```